.desktop-nav{
    ul{
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        gap: 1em;
        li{
            list-style: none;
            a{
                color: green;
            }
        }
    }
}

.mobile-nav {
    display: none;
}

.hamburger-menu{
    position: absolute;
    right: 10px;
}

@media screen and (max-width: 900px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav{
        display: block;
        margin-left: -150px;
        transition: all 500ms;
    }

    .show-mobile-nav{
        margin-left: 0;
        transition: all 500ms;
    }
}
